

.error-message {
  color: #F44336;
  font-weight:900;
  margin-top: 10px
}

md-card{
  margin-top: 16px;
  width: 50%;
  margin-left: 25%;
}

md-card-title{
  text-align: center;
}


.customButton{
  margin-top: 16px;
  text-align: center;
}
