.input-error { border-left:0.5rem solid #f00;}
.input-success  { border-left:0.5rem solid #0f0;}


.error-message {
  color: #F44336;
  font-weight:900;
}

.afterSignupLoading{
  margin-left: 40%;
}

form{
  margin-top: 2rem;
}
