.input-error { border-left:0.5rem solid #f00;}
.input-success  { border-left:0.5rem solid #0f0;}


.error-message {
  color: #F44336;
  font-weight:900;
}

.title{
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

hr{
  border: solid thin;
}


.upload{
  margin-left: 12%;
}

.upload .uploadButton{
  margin-left: 26%;
}

.waitPrompt{
  margin-left: 35%;
}
