md-toolbar {
  display: inline-flex;
  display: -webkit-flex; /* Safari */
  font-size: 1.1em;
}


md-nav-list a {
  text-decoration: none;
  color: inherit;

}

md-nav-list {
  display: flex;
}


.fill-remaining-space {
flex: 1 1 auto;
}

.right{
  display: inline-flex;
}



app-search-bar{
  margin-top: -8px;
}

app-top-message{
  margin-top: 2px;
}
.searchIcon{
  margin-top: 2px;
}

