<!--
 * @Description : please enter the description
 * @date : 2016/9/29 上午11:08
 * @author : keryHu keryhu@hotmail.com
 -->


<div class="container-fluid">
  <div class="row ">
    <div class="col-md-12 col-sm-12 clo-xs-12   ">
      <div class="alert alert-success text-sm-center" role="alert">
        <strong>{{name}}-欢迎进入新地点客服系统!</strong>
      </div>

      <app-search-input (changeUrlParam)="changeUrlParam($event)"
                        [urlParamObject]="urlParamObject"></app-search-input>

    </div>
  </div>
</div>
