<div class="container">
  <div class="row">
    <h1 class="text-xs-center">搜索公司或者会员</h1>
    <div class="col-sm-3">

      <h6>搜索类型:</h6>
      <md-button-toggle-group name="sType" [(ngModel)]="selectedtSearchType"
                              (change)="toggleSearchType($event.value)">
        <md-button-toggle *ngFor="let t of allSearchTypes" [value]="t">
          {{t}}
        </md-button-toggle>
      </md-button-toggle-group>

    </div>

    <div class="col-sm-2">
      <label *ngIf="selectedtSearchType=='公司'||selectedtSearchType=='会员'">注册 :</label>
      <br>
      <label  *ngIf="selectedtSearchType=='会员'"> 上次登录 :</label>
    </div>

    <div class="col-sm-7">

      <span class="selectDate"
            *ngIf="selectedtSearchType=='公司'||selectedtSearchType=='会员'">
        <span class="startDate">起始:
           <app-date #startRegisterDate
                     [newDate]="urlParamObject?.registerTimeBegin"
                     (changeDate)="changeDate('registerTimeBegin',$event)">

         </app-date></span>

       <span class="endDate">结束:
         <app-date #endRegisterDate
                   [newDate]="urlParamObject?.registerTimeEnd||today"
                   (changeDate)="changeDate('registerTimeEnd',$event)">

       </app-date></span>
      </span>

      <br>
      <span class="selectDate" *ngIf="selectedtSearchType=='会员'">
         <span class="startDate">起始:
           <app-date #startLoggedDate
                     [newDate]="urlParamObject?.lastLoginTimeBegin"
                     (changeDate)="changeDate('lastLoginTimeBegin',$event)">

         </app-date></span>

         <span class="endDate">结束:
           <app-date #endLoggedDate
                     [newDate]="urlParamObject?.lastLoginTimeEnd||today"
                     (changeDate)="changeDate('lastLoginTimeEnd',$event)">

         </app-date>
         </span>
      </span>
      <br>
      <div class="error-message" *ngIf="showRegisterDatePicker||showLastLoggedDatePicker">
        {{selectedTimeErrMsg}}
      </div>
    </div>

  </div>
  <hr>

</div>




<app-search-page *ngIf="selectedtSearchType=='会员'"
                 [showSearchInput]="selectedtSearchType&&selectedtSearchType!='未选择'"
                 [placeholder]="placeholdContent" [indexUrl]="indexUrl"
                 [searchParams]="submitedObject" [serverUrl]="searchUserServerUrl"
                 [dataTitle]="userTableTitle" [showDialog]="true">

</app-search-page>


<app-search-page *ngIf="selectedtSearchType=='公司'"
                 [showSearchInput]="selectedtSearchType&&selectedtSearchType!='未选择'"
                 [placeholder]="placeholdContent" [indexUrl]="indexUrl"
                 [searchParams]="submitedObject" [serverUrl]="searchCompanyServerUrl"
                 [dataTitle]="companyTableTitle" [showDialog]="true">

</app-search-page>
