<!--
 * @Description : please enter the description
 * @date : 16/8/26 下午3:32
 * @author : keryHu keryhu@hotmail.com
 -->
<md-card>
  <md-card-title>设置新密码</md-card-title>
  <md-card-content>

    <div *ngIf="!showSuccess">
      <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">

        <md-input type="password" formControlName="password" style="width: 100%"
                  placeholder="6-20位数字、字母或特殊字符,两种以上组合">

        </md-input>

        <div class="error-message" *ngIf="password.touched&&password.errors">
          <label *ngIf="password.errors.required">不能为空</label>
          <label *ngIf="password.errors.shouldInSize">必须6-20位</label>
          <label *ngIf="password.errors.containTwoTypes">必须包含两种组合</label>
        </div>

        <div class="error-message" *ngIf="getTokenError()|async">{{getTokenError()|async}}</div>

        <div class="customButton" *ngIf="!afterLoading">

          <a class="LinkButton " [routerLink]="['/login']"
             md-button color="primary">
            取消
          </a>

          <button  type="submit" md-raised-button
                   color="primary" [disabled]="!form.valid">
            提交
          </button>

        </div>


        <md-progress-bar *ngIf="afterLoading"
                         mode="indeterminate">
        </md-progress-bar>

      </form>
    </div>

    <div *ngIf="showSuccess">
      <div class="alert alert-success" role="alert" >
        <strong>密码重置成功!</strong>
      </div>

      <a class="LinkButton " [routerLink]="['/login']"
         md-button color="primary" style="width: 100%">
        登录
      </a>

    </div>


  </md-card-content>

  <md-card-actions>

  </md-card-actions>
</md-card>
