<!--
 * @Description : please enter the description
 * @date : 16/9/9 上午8:55
 * @author : keryHu keryhu@hotmail.com
 -->

<md-card>
  <md-card-title>修改密码:</md-card-title>
  <md-card-content>
    <form [formGroup]="form" role="form" (ngSubmit)="onSubmit(form.value)"
          autocomplete="off">
      <md-input type="password" placeholder="原密码" formControlName="originPassword">
      </md-input>
      <span class="error-message" *ngIf="originPassword.touched&&originPassword.errors">
        <label *ngIf="originPassword.errors.required">不能为空</label>
        <label *ngIf="originPassword.errors.shouldInSize">必须6-20位</label>
        <label *ngIf="originPassword.errors.containTwoTypes">必须包含两种组合</label>
      </span>
      <div *ngIf="originPasswordErrMsg" class="alert alert-danger text-md-center" role="alert">
        <strong>{{originPasswordErrMsg}}</strong>
      </div>

      <md-input type="password" placeholder="新密码(6-20位数字和字母组合)"
                formControlName="newPassword">
      </md-input>

      <span class="error-message" *ngIf="newPassword.touched&&newPassword.errors">
        <label *ngIf="newPassword.errors.required">不能为空</label>
        <label *ngIf="newPassword.errors.shouldInSize">必须6-20位</label>
        <label *ngIf="newPassword.errors.containTwoTypes">必须包含两种组合</label>
        <label *ngIf="newPassword.errors.couldNotEqual">新密码不能与原密码相同</label>
    </span>

      <div class="error-message">
        <label>{{newPasswordSuccessMsg}}</label>
      </div>


      <button *ngIf="!afterLoading" type="submit" md-icon-button
              [disabled]="!form.valid">
        <md-icon class="md-24">check</md-icon>
      </button>


      <md-progress-bar *ngIf="afterLoading"
                       mode="indeterminate">

      </md-progress-bar>

    </form>

  </md-card-content>

  <md-card-actions *ngIf="!afterLoading">
    <a class="LinkButton " [routerLink]="['/recover']"
       md-button color="primary">
      忘记密码
    </a>

  </md-card-actions>
</md-card>
