<!--
 * @Description : please enter the description
 * @date : 16/9/15 下午4:49
 * @author : keryHu keryhu@hotmail.com
 -->


<select [ngModel]="defaultProvince"
        (change)="onProvinceChange($event.target.value)">
  <option *ngFor="let p of provinces|async " [value]="p.name">
    {{p.name}}</option>
</select>

<select (change)="onCityChange($event.target.value)">
  <option *ngFor="let c of cities |async" >{{c.name}}</option>
</select>

<select  (change)="onCountyChange($event.target.value)">
  <option *ngFor="let c of counties |async" >{{c.name}}</option>
</select>


