.input-error { border-left:0.5rem solid #f00;}
.input-success  { border-left:0.5rem solid #0f0;}


.error-message {
  color: #F44336;
  font-weight:900;
}
.form-inline{
  float:inherit;
  display: inline;
}


.form-group input{
  width: 3cm;
}
