<!--
 * @Description : 当用户前台,需要修改敏感内容的时候,可能需要用户当时输入用户密码,才能修改。
 * @date : 16/9/4 下午6:06
 * @author : keryHu keryhu@hotmail.com
 -->
<div class="needPassword">
  <form class="form-inline" role="form" [formGroup]="form"
        (ngSubmit)="onSubmit(form.value)" autocomplete="off">

    <md-input placeholder="登录密码" formControlName="password"
              type="password">

    </md-input>

    <!--
    这里的 更改为  md-icon 会导致 页面刷新，和form冲突，不知道傻原因
    -->
    <button type="submit" [disabled]="!form.valid"
            class="btn btn-primary btn-sm ">
      <i class="fa fa-check" aria-hidden="true"></i>
    </button>

    <button type="button" (click)="cancelModify()"
            class="btn btn-default btn-sm">
      <i class="fa fa-times" aria-hidden="true"></i>
    </button>



  </form>

  <div class="error-message" *ngIf="password.touched&&password.errors">
    <label *ngIf="password.errors.required">不能为空</label>
    <label *ngIf="password.errors.shouldInSize">必须6-20位</label>
    <label *ngIf="password.errors.containTwoTypes">必须包含两种组合</label>
  </div>

  <div *ngIf="getCustomSubmitMsgStatus()|async" class="error-message">
    <label>{{submitResultMsg}}</label>
  </div>

</div>
