<!--
 * @Description : please enter the description
 * @date : 2016/10/10 下午3:13
 * @author : keryHu keryhu@hotmail.com
 -->

<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" autocomplete="off">

  <div class="form-group" *ngIf="companyType==0">
    <label class="sr-only" for="name">公司名字</label>
    <input type="text" id="name" class="form-control"
           [class.input-error]="name.touched&&name.errors"
           [class.input-success]="name.valid"
           placeholder="公司名字，工商局注册全称" formControlName="name"/>
    <span class="error-message" *ngIf="name.touched&&name.errors">
            <label *ngIf="name.errors.required">不能为空</label>
            <label *ngIf="name.errors.companyNameFormat">公司名字不规范</label>
            <label *ngIf="name.errors.companyNameExist">此公司已注册！</label>
      </span>
  </div>

  <div class="form-group " *ngIf="companyType==2">
    <label for="e-name" class="font-weight-bold">
      公司名字:
    </label>
    <div>
      <input type="text" class="form-control" id="e-name"
             [value]="companyInfo?.name" readonly>
    </div>
  </div>


  <hr>

  <label class="font-weight-bold">公司所在地:</label>
  <div *ngIf="companyType==0">
    <app-address [urlResolveName]="urlResolveName"></app-address>
  </div>
  <div *ngIf="companyType==2">
    <input type="text" class="form-control"
           [value]="address" readonly>
  </div>

  <hr>

  <div class="form-group" *ngIf="companyType==0">
    <label class="sr-only" for="fullAddress">详细地址</label>

    <input type="text" id="fullAddress" class="form-control"
           [class.input-error]="fullAddress.touched&&fullAddress.errors"
           [class.input-success]="fullAddress.valid"
           placeholder="详细地址：xx路xx号xx层" formControlName="fullAddress"/>
    <span class="error-message" *ngIf="fullAddress.touched&&fullAddress.errors">
            <label *ngIf="fullAddress.errors.required">不能为空</label>

      </span>

  </div>

  <div class="form-group " *ngIf="companyType==2">
    <label for="e-fullAddress" class="font-weight-bold">
      详细地址:
    </label>
    <div>
      <input type="text" class="form-control" id="e-fullAddress"
             [value]="companyInfo?.fullAddress" readonly>
    </div>
  </div>


  <hr>

  <div class="form-group" *ngIf="companyType==0">
    <label class="font-weight-bold" for="companyIndustry">公司行业:</label>

    <select class="select-style" id="companyIndustry"
            formcontrolname="companyIndustry"
            (change)="onCompanyIndustryChange($event.target.value)">
      <option *ngFor="let c of companyIndustries ">{{c}}</option>
    </select>
  </div>

  <div class="form-group " *ngIf="companyType==2">
    <label for="e-companyIndustry" class="font-weight-bold">
      公司行业:
    </label>
    <div>
      <input type="text" class="form-control" id="e-companyIndustry"
             [value]="companyInfo?.companyIndustry" readonly>
    </div>
  </div>


  <div class="form-group" *ngIf="companyType==0">
    <label class="font-weight-bold" for="enterpriseNature">公司性质:</label>

    <select class="select-style" id="enterpriseNature"
            formcontrolname="enterpriseNature"
            (change)="onEnterpriseNatureChange($event.target.value)">>
      <option *ngFor="let e of enterpriseNatures ">{{e}}</option>
    </select>
  </div>

  <div class="form-group " *ngIf="companyType==2">
    <label for="e-enterpriseNature" class="font-weight-bold">
      公司性质:
    </label>
    <div>
      <input type="text" class="form-control" id="e-enterpriseNature"
             [value]="companyInfo?.enterpriseNature" readonly>
    </div>
  </div>

  <hr>


  <div class="form-group">
    <label class="font-weight-bold">管理员登录名:</label>
    <p class="text-sm-right text-info">申请注册公司帐户的用户，就是平台管理员</p>
    <input type="text" [value]="adminLoginName" class="form-control" readonly/>

  </div>

  <hr>
  <div class="upload" *ngIf="companyType==0">
    <div class="form-group" *ngIf="businessImg|async">
      <img [src]="businessImg|async" width="300" height="400"/>
    </div>

    <div class="upload">
      <app-file-upload [buttonValue]="uploadBusinessButtonValue" [acceptType]="acceptType"
                       [maxSize]="maxSize" [minResizeSize]="minResizeSize"
                       (uploadComplete)="uploadBusinessComplete($event)">

      </app-file-upload>
    </div>

  </div>

  <div class="form-group " *ngIf="companyType==2">
    <label class="font-weight-bold">
      营业执照:
    </label>
    <div>
      <img [src]="businessLicense" width="500" height="600"/>
    </div>
  </div>


  <hr>

  <div class="upload" *ngIf="companyType==0">
    <div class="form-group" *ngIf="intruductionImg|async">
      <img [src]="intruductionImg|async" width="300" height="400"/>
    </div>

    <div class="upload">
      <app-file-upload [buttonValue]="uploadInstructionbuttonValue" [acceptType]="acceptType"
                   [maxSize]="maxSize" [minResizeSize]="minResizeSize"
                   (uploadComplete)="uploadIntruductionComplete($event)">
      </app-file-upload>
    </div>

  </div>

  <div class="form-group " *ngIf="companyType==2">
    <label class="font-weight-bold">
      介绍信:
    </label>
    <div>
      <img [src]="intruduction" width="500" height="600"/>
    </div>
  </div>



  <div class="form-submit" *ngIf="companyType==0">


    <md-progress-bar *ngIf="afterSubmit"
                     mode="indeterminate">
    </md-progress-bar>

    <button *ngIf="!afterSubmit" type="submit"
            [disabled]="!form.valid||!checkUploadImg()||errMsg"
            class="btn btn-primary btn-lg btn-block">
      提交
    </button>
  </div>
</form>
