<hr>
<md-progress-bar *ngIf="isLoading"
                 mode="indeterminate">
</md-progress-bar>


<div *ngIf="!isLoading">

  <p *ngIf="totalItems==0">抱歉，没有查询到任何数据！</p>
  <div *ngIf="totalItems">
    <p>一共搜索到{{totalItems}}条相关记录！</p>

    <table class="table  table-hover table-bordered table-sm">
      <thead>
      <tr>
        <th>#</th>
        <th>
        <span (click)="allChecked()" class="allChecked">
          全选</span>/<span (click)="notChecked()" class="allChecked">清空</span>
        </th>
        <th>姓名<app-sort-icon
          [sortParam]="nameSort"
          (toggleSortName)="toggleSortName($event)">
        </app-sort-icon>
        </th>
        <th>邮箱</th>
        <th>最近登录时间
          <app-sort-icon
            [sortParam]="lastLoginTimeSort"
            (toggleSortName)="toggleSortName($event)">

          </app-sort-icon>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let u of user;let n=index" (click)="clickUser(u.email)">
        <th scope="row">{{n+1}}</th>
        <th>
          <md-checkbox></md-checkbox>
        </th>
        <td>{{u.name}}</td>
        <td>{{u.email}}</td>
        <td>{{u.lastLoginTime|dateParse}}</td>
      </tr>

      </tbody>
    </table>

    <hr>
    <pagination [totalItems]="totalItems" [(ngModel)]="currentPage"
                (pageChanged)="pageChange($event)"
                [itemsPerPage]="pageSize"
                [boundaryLinks]="true"
                [maxSize]="5"
                firstText="第一页"
                lastText="最后一页"
                [rotate]="false"
                previousText="上一页"
                nextText="下一页"></pagination>

  </div>


</div>


