<!--
 * @Description : please enter the description
 * @date : 2016/9/26 下午10:08
 * @author : keryHu keryhu@hotmail.com
 -->
<div>
  <div class="alert alert-info text-lg-center" role="alert">
    <strong>恭喜!</strong> 您已成功注册公司帐户，请耐心等待工作人员审核！
  </div>

  <button type="button" (click)="showCompanyPreview()" class="btn btn-primary btn-lg btn-block ">
    查看已提交的注册信息
  </button>
</div>


<div *ngIf="companyPreview">
  <hr>

  <app-check-company-template [checkCompanyType]="checkCompanyType"
                              [companyInfo]="waitCheckResolveInfo">
  </app-check-company-template>

</div>
