.error-message {
  color: #F44336;
  font-weight:900;
}


md-progress-bar{
  margin-top: 24px;
}


md-card{
  margin-top: 16px;
  width: 60%;
  margin-left: 20%;
}

md-card-title{
  text-align: center;
}



.full-width{
  width: 100%;
}


.loginLinkButton{
  margin-top: 16px;
}
